
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->


	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Bandeja de Notificaciones</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<div class="table-responsive">
								<table id="tableGeneral" class="table table-sm table-bordered table-hover table-valign-middle table-striped">
									<thead>
										<tr>
										<th>id</th>
										    <th>Amparos</th>
											<th>Procedimiento</th>
											<th>Fecha de Envio</th>
											<th>Folio</th>
											<th>Cuaderno</th>
											<th>Asunto</th>
											<th>Materia</th>
											<th>Ver</th>
										</tr>
									</thead>




										<tr>
										    <td></td>
											  <td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td>

													<!-- <a  href="http://localhost:8080/amparos/registro" title="Ver" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></a> -->
													<a href="" title="Ver" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></a>


												</td>


										</tr>


								</table>
							</div>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->

				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->

</div>
<!-- /.content-wrapper -->
<!--  -->
